# Video Frame Extraction

In [1]:
import os
import cv2 #used for frame extraction
import pandas as pd #data frames
import numpy as np
from glob import glob
from tqdm import tqdm
from lib_file import lib_path

In [2]:
f = open('train_path.txt','r')
temp = f.read()
videos = temp.split('|')

In [3]:
train = pd.DataFrame()
train['video_name'] = videos
train = train[:-1]
train.tail()

                     video_name
95  input/train/normal/59.mp4 1
96  input/train/normal/60.mp4 1
97  input/train/normal/63.mp4 1
98  input/train/normal/65.mp4 1
99  input/train/normal/66.mp4 1

In [4]:
train.shape[0]

100

In [5]:
train_video_tag=[]
for i in range(train.shape[0]):
    train_video_tag.append(train['video_name'][i].split('/')[2])
    
train['tag'] = train_video_tag

In [6]:
train

                        video_name       tag
0    input/train/abnormal/10.mp4 0  abnormal
1   input/train/abnormal/30a.mp4 0  abnormal
2   input/train/abnormal/30b.mp4 0  abnormal
3    input/train/abnormal/31.mp4 0  abnormal
4    input/train/abnormal/32.mp4 0  abnormal
..                             ...       ...
95     input/train/normal/59.mp4 1    normal
96     input/train/normal/60.mp4 1    normal
97     input/train/normal/63.mp4 1    normal
98     input/train/normal/65.mp4 1    normal
99     input/train/normal/66.mp4 1    normal

[100 rows x 2 columns]

In [7]:
print(train['tag'])

0     abnormal
1     abnormal
2     abnormal
3     abnormal
4     abnormal
        ...
95      normal
96      normal
97      normal
98      normal
99      normal
Name: tag, Length: 100, dtype: object

In [8]:
train.head()

                       video_name       tag
0   input/train/abnormal/10.mp4 0  abnormal
1  input/train/abnormal/30a.mp4 0  abnormal
2  input/train/abnormal/30b.mp4 0  abnormal
3   input/train/abnormal/31.mp4 0  abnormal
4   input/train/abnormal/32.mp4 0  abnormal

In [9]:
train.tail()

                     video_name     tag
95  input/train/normal/59.mp4 1  normal
96  input/train/normal/60.mp4 1  normal
97  input/train/normal/63.mp4 1  normal
98  input/train/normal/65.mp4 1  normal
99  input/train/normal/66.mp4 1  normal

In [10]:
train.shape[0]

100

In [11]:
videoFile = train['video_name'][i]
print(videoFile)

input/train/normal/66.mp4 1

In [12]:
videoFile.split('/')[2]

'normal'

In [13]:
# removing all other files from the temp folder
files = glob('train_data/*')
for f in files:
    os.remove(f)

In [14]:
count = 0

for i in tqdm(range(0,train.shape[0])):
    videoFile = train['video_name'][i]
    #print(videoFile)
    cam = cv2.VideoCapture(videoFile.split(' ')[0])
 
    # frame 
    currentframe = 0
  
    while(True): 
        # reading from frame 
        ret,frame = cam.read() 
        if ret:
            
            if count%30 == 0 :
               
            # if video is still left continue creating images 
                filename = 'train_data/'+videoFile.split('/')[2]+"_frame%d.jpg" % count;
                  
            # writing the extracted images 
                cv2.imwrite(filename, frame) 
  
            # increasing counter so that it will 
            # show how many frames are created 
                currentframe += 1
            count+=1
        else: 
            break
  
    # Release all space and windows once done 
    cam.release() 
    #cv2.destroyAllWindows()

00%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [01:07<00:00,  1.49it/s]

In [16]:
images = glob("train_data/*.jpg")

In [17]:
images[i]

'train_data\\abnormal_frame12660.jpg'

In [18]:
images[i].split('\\')[1]

'abnormal_frame12660.jpg'

In [19]:
images[i].split('\\')[1].split('_')[0]

'abnormal'

In [20]:
images = glob("train_data/*.jpg")
train_image = []
train_class = []

for i in range(len(images)):
  
    train_image.append(images[i].split('\\')[1])
    
    train_class.append(images[i].split('\\')[1].split('_')[0])

train_data = pd.DataFrame()
train_data['image'] = train_image
train_data['class'] = train_class
train_data.to_csv('train_new.csv',header=True,index=False)

# Thank You...